.footer {
  width: 100%;
  height: 400px;
  background-color: #5e255c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.25);
  
  @media screen and (max-width: 550px) {
    height: 300px;
  }
  .sub-footer {
    width: 300px;
    position: relative;
    top: 50px;
    left: 50px;
    .about {
      h1 {
        font-size: 40px;
      }
      h3 {
        font-size: 25px;
        color: rgb(51, 48, 48);
      }
      @media screen and (max-width: 550px) {
        h1 {
          font-size: 25px;
        }
        h3 {
          font-size: 18px;
        }
      }
    }
    .list {
      position: relative;
      top: 30px;
      h4 {
        font-size: 18px;
        cursor: pointer;
        @media screen and (max-width: 550px) {
          font-size: 12px;
        }
      }
    }
    .social-links {
      position: relative;
      top: 80px;
      left: -8px;
      @media screen and (max-width: 550px) {
        top: 70px;
      }
      ul {
        width: 200px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 550px) {
          width: 100px;
        }
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: white;
          width: 50px;
          height: 50px;
          transition: 0.3s all ease-in-out;
          img {
            width: 15px;
            height: 15px;
          }
          @media screen and (max-width: 550px) {
            width: 30px;
            height: 30px;
            img {
              width: 10px;
              height: 10px;
            }
          }
        }
        li:hover {
          cursor: pointer;
          transform: scale(1.18);
          background-color: #923120;
        }
      }
    }
  }
}
