<div class="main">
  <h5>Get In Touch</h5>
  <h1>Contact Me</h1>
  <div class="sub-main">
    <div class="left">
      <div class="box">
        <img src="" alt="" />
        <h3>Email</h3>
        <h4>harshrjjpt@gmail.xom</h4>
        <h5>Send a message</h5>
      </div>
      <div class="linkedin box">
        <img src="./../../../../assets/linkedin.png" alt="" />

        <h3>LinkedIn</h3>
        <h4>harshrjjpt@gmail.xom</h4>
        <h5>Send a message</h5>
      </div>
      <div class="box">
        <img src="" alt="" />
        <h3>WhatsApp</h3>
        <h4>harshrjjpt@gmail.xom</h4>
        <h5>Send a message</h5>
      </div>
    </div>
    <div class="right">
      <form action="">
        <input type="text" placeholder="Your Full Name" />
        <input type="email" placeholder="Your Email" />
        <textarea class="message" type="text" placeholder="Your Message">
        </textarea>
        <button>Send Message</button>
      </form>
    </div>
  </div>
</div>
