<section>
  <h5>Get To Know</h5>
  <h1>About Me</h1>

  <div class="about-section">
    <div class="mypic">
      <img src="./../../../../assets/mypic2.png" alt="mypic" />
    </div>
    <div class="about">
      <h2>
        I am an ardent coder looking for challenging opportunities in IT
        Industry to explore various technologies and mark a significant
        contribution in the field. In addition to these, I have experience in
        some of the latest technologies and tools like Git, web scrapping, etc.
        Some of the programming languages and frameworks that I have hands-on
        are React Js, Redux, Angular, Bootstrap, etc.
      </h2>
    </div>
  </div>
</section>
