section{
    margin-top: 200px;
    h1{
        color: black;
        font-size: 3rem;
        margin-bottom: 150px;
    }
    .about-section{
        margin: auto;
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .mypic{
            margin-right: 100px;
            background-color: gray;
            width: 610px;
            height: 620px;
            img{
                width: 610px;
            height: 620px;

            transform: rotate(-10deg);
            transition: 0.3s all ease-in-out;
            }
            img:hover{
            transform: rotate(0deg);

            }
        }
        .about{
            width: 50%;
            font-size: 15px;
        }
        .about h2 span{
            transition: 0.5s all ease-in-out;

        }
        .about:hover h2 .span1 {
            color: white;
            font-size: 40px;
        }
        .about:hover h2 .span2 {
            transition-delay: 0.4s;
            color: white;
            font-size: 35px;
        }
    }
    .skills{
        margin-top: 200px;
    }

    .main-skills{
        margin-top: 8rem;
        display: flex;
        justify-content: center;
        .skills-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 60%;
            flex-wrap: wrap;
            .skill{
                margin-right: 30px;
                margin-bottom: 30px;
            }
        }
    }
   
}