<section>
  <h5>Get To Know</h5>
  <h1>About Me</h1>

  <div class="about-section">
    <div class="mypic-bg"></div>
    <div class="mypic">
      <img src="./../../../../assets/mypic2.png" alt="mypic" />
    </div>
    <div class="about">
      <h2>
        I am an <span class="span1"> ardent coder </span> looking for challenging opportunities in IT
        Industry to explore various technologies and mark a <span class="span2">significant
        contribution</span>  in the field. In addition to these, I have experience in
        some of the latest technologies and tools like Git, web scrapping, etc.
        Some of the programming languages and frameworks that I have hands-on
        are React Js, Redux, Angular, Bootstrap, etc.
      </h2>
    </div>
  </div>

  <h1 class="skills">SKILLS</h1>

  <div class="main-skills">
    <div class="skills-container">
      <app-capsule class="skill" *ngFor="let skill of skills" [skillCapsule]="skill"></app-capsule>
    </div>
  </div>
  

</section>
