@import '../../../../utility/utility.scss';
.dark {
  background-color: black;
  color: white;
}
section {
  h5 {
    padding-top: 100px;
  }
  h1 {
    color: black;
    font-size: 3rem;
    margin-bottom: 150px;
  }
  .about-section {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mypic {
      background-color: gray;
      width: 610px;
      height: 620px;
      -webkit-filter: $pinkWebkit;
      filter: $pinkFilter;
      img {
        width: 610px;
        height: 620px;
        transform: rotate(-10deg);
        transition: 0.3s all ease-in-out;
      }
      img:hover {
        transform: rotate(0deg);
      }
    }
    .about {
      -webkit-filter: drop-shadow(3px 0px 100px rgba(255, 50, 245, 0.2));
      filter: drop-shadow(3px 0px 100px rgba(249, 76, 255, 0.2));
      width: 50%;
      font-size: 15px;
      h2 {
        font-weight: 300;
        letter-spacing: 2px;
      }
    }
    .about h2 span {
      transition: 0.5s all ease-in-out;
    }
    .about:hover h2 .span1 {
      color: white;
      font-size: 40px;
      font-weight: 500;
    }
    .about:hover h2 .span2 {
      transition-delay: 0.4s;
      color: white;
      font-size: 35px;
      font-weight: 500;
    }
  }
  .skills {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .main-skills {
    position: relative;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      position: absolute;
      top: -140px;

      @media screen and (max-width: 600px) {
        top: -70px;
        font-size: 30px;
      }
    }
    .skill-meter {
      position: absolute;
      top: -50px;
      border-radius: 10px;
      margin-bottom: 30px;
      width: 500px;
      height: 10px;
      background-color: black;
      @media screen and (max-width: 600px) {
        width: 300px;
        height: 7px;
        top: -10px;
      }
      @media screen and (max-width: 500px) {
        top: 120px;
      }
      .skill-fill {
        position: absolute;
        border-radius: 10px;
        height: 10px;
        background-color: greenyellow;
        animation: animate 0.8s ease-in-out infinite;

        @media screen and (max-width: 600px) {
          width: 300px;
          height: 7px;
        }
      }
    }
  }
}
@media screen and (max-width: 830px) {
  .about-section {
    display: flex;
    flex-direction: column;
    .mypic {
      width: 360px !important;
      height: 400px !important;
      img {
        width: 360px !important;
        height: 400px !important;
      }
    }
    .about {
      margin-top: 50px;
      width: 400px !important;
      h2 {
        width: 400px;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .about-section {
      display: flex;
      flex-direction: column;
      .mypic {
        width: 360px !important;
        height: 400px !important;
        img {
          width: 360px !important;
          height: 400px !important;
        }
      }
      .about {
        margin-top: 50px;
        width: 400px !important;
        display: flex;
        justify-content: center;
        h2 {
          width: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  section {
    padding-top: 30px;
    h1 {
      margin-bottom: 50px !important;
    }
    .about-section {
      .mypic {
        display: flex;
        justify-content: center;
        width: 200px !important;
        height: 190px !important;
        margin-right: 0px !important;
        img {
          width: 200px !important;
          height: 190px !important;
        }
      }
      .about {
        margin-top: 50px;
        width: 400px !important;
        h2 {
          text-align: center;
          width: 350px;
          font-size: 15px;
        }
      }
    }
    .skills {
      margin-top: 50px !important;
    }
    .main-skills {
      margin-top: 80px;
    }
  }
}
.skill-meter-white {
  background-color: white !important;
}
