$primaryColor: #b44ab0;
$backgroundColor: #eeeef0;
$boxShadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$pinkWebkit: drop-shadow(3px 0px 1000px rgba(133, 0, 241, 0.685));
$pinkFilter: drop-shadow(3px 0px 1000px rgba(133, 0, 241, 0.685));