<section  [ngClass]="{'dark': filler.gettheme() === 'dark'}">
  <div class="social-links">
    <ul>
      <a target="_blank" href="https://twitter.com/harshrjjpt">
        <li class="twitter"><img src="./assets/twitter (2).png" alt="" /></li
      ></a>
      <a target="_blank" href="https://github.com/harshrjjpt"
        ><li class="github"><img src="./assets/github.png" alt="" /></li
      ></a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/harsh-rajput-0315381a8/"
        ><li class="linkedin"><img src="./assets/linkedin.png" alt="" /></li
      ></a>
    </ul>
  </div>
  <button (click)="themeHandler()" class="theme-btn">change theme</button>
  <div class="nav">
    <ul>
      <li>ABOUT</li>
      <li>CONTACT</li>
      <li>EXPERIENCE</li>
      <li>PROJECTS</li>
    </ul>
  </div>
  <div class="hamburger-icon">
    <img src="./assets/hamburger.png" alt="" />
  </div>
  <h5>Hello, I'm</h5>
  <h1>Harsh</h1>

  <h2>A Frontend Developer</h2>

  <div class="buttons">
    <a
      href="https://docs.google.com/document/d/1DnUIjLmtg1cdGWqvrbdy3_h5FbuwPKt-/edit?usp=sharing&ouid=115407358632877508965&rtpof=true&sd=true"
      target="_blank"
    >
      <button class="cv" role="button">Download CV</button></a
    >

    <button role="button">Let's Talk</button>
  </div>

  <div class="my-img">
    <img src="./assets/mypic.png" alt="" />
  </div>
</section>
